.wrapper {
    height: 100%;
    min-height: 100vh;
    overflow-y: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
}

.jumbotron {
    height: 100vh;
    background-image:         
    linear-gradient(
    rgba(250, 250, 250, 0.35),
    rgba(250, 250, 250, 0.35)),
    url("../images/background.jpg");
    background-size: cover;

}

.display-4, #sub-header {
    color: white;
}

#survey-header {
    color: #212529;
}

#jumbo-container {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%)
}

#start {
    background: peachpuff;
    color: slategrey;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    padding-left: 100px;
}

#submit {
    background: darkcyan;
    color: whitesmoke;
    font-size: 18px;
    width: 100%;
    margin-top: 20px;
}

.footer {
    padding-top: 15px;
    border-top: 1px solid lightgray;
    bottom: 0;
    width: 100%;
}

#footer-text {
    float: left;
}

#footer-text-two {
    float: right;
}

#survey-container {
    width: 650px;
    margin-top: 30px;
}

#key {
    color: darkcyan;
    font-size: medium;
}

h1 {
    text-align: center;
}

#match-image {
    max-width: 200px;
}